nav {
    display: block;
}

body {
    background-image: url("../img/dp_schlong.jpg");
    background-color: #cccccc;
}


.container-fluid {
    position: relative;
    margin: 2px;
    padding: 5px;
    height: 100px;
    width: 200px;
    border: solid;
    border-width: 3px;
}

